/* Fieldbase Default Settings */

:root {
    /*Default  Color */
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Neutral Face';
        src: url("./fonts/NeutralFace.woff");
        font-weight: 400;
    }

    @font-face {
        font-family: 'Neutral Face';
        src: url("./fonts/NeutralFaceBold.woff");
        font-weight: 700;
    }

    @font-face {
        font-family: 'Monument Extended';
        src: url("./fonts/MonumentExtended-Regular.otf");
        font-weight: 400;
    }

    @font-face {
        font-family: 'Monument Extended';
        src: url("./fonts/MonumentExtended-Ultrabold.otf");
        font-weight: 700;
    }

    h1 {
        @apply text-2xl;
    }

    h2 {
        @apply text-xl;
    }
}

@import "./main.css";